<a href="https://colab.research.google.com/github/Gwangmin1103/21.33/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1; print(type(a))

<class 'int'>

해석: a라는 변수에 1이라는 값을 assign한다..로 읽어야 됨

In [5]:
a = 1
a
maggie = 24
print(maggie)

24

기절초풍왕순대..? 간단한 워드 프로세싱 기능으로 보면 됨
'print'는 남들이 만들어놓은 함수. 'print()'를 보면 '함수구나''누군가 만들어놓음..입력에는 반드시 변수가 들어가야되고, 그 변수에 대한 값을 화면에 뿌려라..하는 식으로

In [6]:
a = 11; print(type(a))

<class 'int'>

세미콜론 대신 줄 나눠도 ㄱㅊ // '괄호가 있으니까 저 앞에 있는 건 함수구나', 'type이라는 함수가 입력값 a를 받았구나...

변수로 들어갈 수 있는 건 크게 '문자'와 '숫자' 2개밖에 없구나..로 보면 된다고 함.

숫자로 들어갈 수 있는 건 정수, 실수 2가지.

-1.0 치면 float로 나옴.

In [ ]:
a = 'abc'; print(type(a)); print(a[1])

<class 'str'>
2

문자 넣을 때는 single quote''로 감싸야 함(string'이니까)

In [7]:
a = '123'
type(a)

str

In [8]:
a = 1 + 1
a

2

In [9]:
a = '1' + '1'
a

'11'

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

대괄호를 쓰면 무조건 list가 됨 - 1개든 여러개든. 그리고 숫자 문자 리스트 모두 동시에 들어갈 수도 있다

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

리스트에서 몇 번째 가져오는 법: a[대괄호 안에 몇 번째인지 숫자]를 쓰는데, 컴퓨터는 0부터 시작

In [10]:
a = [1,'a', [3, '4']]
a[2][1]

'4'

a리스트의 2번 순서인 리스트 안에서 1번 순서니까 => a[2][1]로 access한다.

근데 단순히 리스트 형태로 저장하지 않고 pair 형태로 저장해서 access할 수도 있는데 그게 dict 형식. 사전의 정보 저장 방법과 똑같기 때문에 dict라고 한다.

번호 안 쓰려고 dict쓰는 거

dict는 중괄호를 쓰고, 각 페어는 comma로 구분. 아래에서는 "a":"apple"이 한 덩어리고, 문자는 single double quote 둘 다 상관 없음.

colon으로 pair되고, access는 앞에 꺼를 쓰면 됨.

In [13]:
a =	{'a': 'apple', 'b': 'orange', 'c': 2014, 'maggie':24}

a['maggie']

24

In [ ]:
a =	{'a': 'apple', 'b': 'orange', 'c': 2014}
print(type(a))
print(a['a'])

<class 'dict'>
apple